.page-slider__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-slider__slide {
  line-height: 0;
}

.page-slider__content {
  background-color: #fff;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  width: 240px;
  padding: 16px;
}

.page-slider__button {
  position: relative;
  width: 40px;
  height: 40px;
  border: 2px solid #ff3e79;
  border-radius: 50%;
}

.page-slider__button::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 9px;
  border-radius: 1px;
  background-color: #ff3e79;
  -webkit-transform: rotate(45deg) translate(-1px, -1px);
          transform: rotate(45deg) translate(-1px, -1px);
}

.page-slider__button::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 9px;
  border-radius: 1px;
  background-color: #ff3e79;
  -webkit-transform: rotate(-45deg) translate(5px, -5px);
          transform: rotate(-45deg) translate(5px, -5px);
}

.page-slider__button-open {
  display: none;
  width: 133px;
  line-height: 24px;
  font-family: TT Lakes Medium;
  font-size: 16px;
  letter-spacing: -0.2px;
  text-align: right;
  background: url("../img/expand-icon.svg") no-repeat;
  margin-top: 24px;
}

.swiper-pagination {
  position: static;
  margin-top: 16px;
}

@media screen and (min-width: 768px) {
  .page-slider__wrapper {
    gap: 16px 24px;
  }
  .page-slider__content {
    width: 224px;
  }
  .page-slider__button-open {
    display: block;
  }
}

@media screen and (min-width: 1120px) {
  .page-slider__wrapper {
    gap: 16px 32px;
  }
  .page-slider__content {
    width: 240px;
  }
  .page-slider__button-open {
    display: block;
  }
}
