

//_________colors________//
$c-background: #f8f8f8;
$c-text-main: #1b1c21;
$c-accent: #ff3e79;
$c-text-second: #7e7e82;
$c-link-border: #b8ffec;
$c-border: #eaeaea;
$c-block-highlight: #d9fff5;
$c-highlight: #41f6d7;


//___________fonts__________//
$f-regular: TT Lakes Regular;
$f-medium: TT Lakes Medium;
$f-bold: TT Lakes Bold;

